@{
    ViewData["Title"] = "Home Page";
    Layout = null;

}
<link rel="stylesheet" type="text/css" href="~/css/bootstrap.Login.css">
<style type="text/css">

    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2C3E50;
    }

    .panel {
        margin-bottom: 20px; 
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .panel-default {
        border-color: #ddd;
    }

    .title-container {
        color: white;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%; 
    }
</style>
<div id="particles-js" class="container"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="title-container text-center">
                <h1>GesPol</h1>
                <p>
                    Gestión Policial
                </p>
            </div>
            <div class="panel panel-default">

                <div class="panel-body">
                    <form id="formEpac" class="needs-validation mt-4" asp-action="UploadSelfie" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label">Usuario</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="username" value="" required autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label">Contraseña</label>

                            <div class="col-md-6">
                                <input type="password" class="form-control" name="password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Recordar Contraseña
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>

                                <a class="btn btn-link" href="">
                                    ¿Olvidaste tú contraseña?
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/particles.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript">
    particlesJS.load('particles-js', 'js/particles.json', function () {
        console.log('callback - particles.js config loaded');


    });
</script>